<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
<%- include ../partials/header %>
<div id="main">
  <h3>Your Burger</h3>
  <ul>
    <li>Meat: <%= burger.meat %></li>
    <li>Doneness: <%= burger.doneness %></li>
    <li>Cheese: <%= burger.cheese %></li>
    <li>Extras: <%= burger.extras %></li>
  </ul>
</div>
</body>
</html>
